<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="monhead-element">
    <style>
      :host {
        display: inline-block;  
      }
      :host div {
        display: inline-block;

      }
   

    </style>
    <template>
    <div class="Header" style="text-align: center">  
         <button on-click="processButton" style="display: inline-block; float:left;">
          <img src="../images/menuMon.png" border="0" width="20" height="20" alt="x"></button>
             <h2 style="display: inline-block;">[[prop1]]</h2>
          <button on-click="processPaz" style="display: inline-block; float:right;"><img src="../images/bombMon.png" border="0" width="20" height="20" alt="x"></button>

        
  </div>

  </template>

  <script>
    /**
     * `monhead-element`
     * Componenente head de Monica 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class MonheadElement extends Polymer.Element {
      static get is() { 
        return 'monhead-element'; 
      }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'Bienvenidos'
          }
        };
      }
      processButton(){ 
        alert('Se dio clic al menú');
      }
      processPaz(){ 
        alert('Amor y Paz');
      }
  }

  window.customElements.define(MonheadElement.is, MonheadElement);
  </script>
 
</dom-module>
